*{
    font-family: sans-serif;
}

.gridItem{
    background-color: rgb(232, 232, 232);
    width: 100px;
    height: 100px;
    margin: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
}

.gridItem:hover {
    background-color: rgb(245, 245, 245);
  }

.gridRow{
    display: flex;
}

.playerScore{
    display: flex;
    gap: 8px;
}

#XScore, #OScore{
    font-weight: bold;
}